body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row-header{
  margin-bottom:1px auto;
  padding:0px;
  
}

.row-content {
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px ridge;
  min-height:300px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: goldenrod;
  color: floralwhite;
}

.me {
  width: 400px;
  height: 400px;
}
